
  @media only screen and (max-width: 1400px) {
    .profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    #contact,
    #projects {
      height: fit-content;
    }  

  }
  @media  screen and (max-width: 600px){
    .nav-bar {
      display: none;
    }
    body{
      margin:0 5px;
    }
    #hamburger-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 1rem; 
    }
    
    .arrow {
      display: none;
    }
    .profile{
       display: flex;
      flex-wrap: wrap;
       margin-top:3rem;
    }
    .section__pic-container{
    margin-bottom: -4rem;
    margin-top: 1rem;
    }
    .about-containers{
      flex-wrap: wrap;
    }
     section,
    .section-container {
      height: fit-content;
      flex-wrap: wrap;
      
    } 
    /* section {
      margin: 0 5%;
    } */
    
     
    section {
      margin: 0 5%;
    }
    .contact-info-upper-container,
    .btn-container {
     flex-wrap: wrap;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    #contact,
    footer {
      height: 40vh;
    }
   
    #contact{
      margin: 0;

    
    }
    #skills{
      height: 125vh;
    }
   
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    } 
   
    .contact-info-upper-container{
     border:1px solid grey;
     margin: 1px;
    } 
    

    .logo {
      font-size: 1.7rem;
    }
    
    .title {
      font-size: 2rem;
    }
    
    .arrow{
      display: none;
    }
    #projects{
      height:155vh ;
    }
    #projects-grid{
      display: grid;
       grid-template-areas:
      "container_1"
      "container_2"
      "container_3"
      "container_4"
      "container_5"; 
     margin-left: -10px;
     margin-top: -3rem;
      row-gap: 0;
      gap: 0;
    }
    .container_1{
      grid-area: container_1;
    }
    .container_2{
      grid-area: container_2;
    }
    .container_3{
      grid-area: container_3;
    }
    .container_4{
      grid-area: container_4;
    }
    .container_5{
      grid-area: container_5;
    }
    .container_1,.container_2,.container_3,.container_4,.container_5{
      height: 240px;
      position: sticky;
      top: 10px;
      scroll-behavior: smooth ;
    
    }
    #projects-grid img{
      width: 100%;
      height: 95%;
      box-shadow: 5px 5px 5px rgb(143, 142, 142);
    }
    .project_des{
      top: 35%;
      left: 30%;
    }
  }
  @media  screen and (max-width: 500px){
    #skills{
      height: 130vh;
    }
    #projects{
      height: 180vh;
    }
    #projects-grid{
      margin-left: -3rem;
    }
    .project_des{
      left: 35%;
    }
    
  }
  @media  screen and (max-width: 350px){
    .profile{
      height: 100vh;
    }
    #skills{
      height: 200vh;
    }
    #projects{
      height: 270vh;
    }
    #projects-grid{
      margin-left: -2rem;
    }
    #contact{  
flex-wrap: nowrap;
    }
    .contact-info-upper-container{
     border: none;
     margin: 0;
    }
    .nav-links-container{
      margin: 0;

    }
  }
  @media screen and (max-width: 1100px) and (min-width: 602px) {
    #projects-grid{
 
      padding: 40px 0px;
      display: grid;
      grid-template-areas:
      "container_1  container_1 container_2"
      "container_3 container_4 container_5";
      grid-gap: 10px;
      width: 150%;
      margin-left: rem;
    }
    .container_1{
      grid-area: container_1;
    }
    .container_2{
      grid-area: container_2;
    }
    .container_3{
      grid-area: container_3;
    }
    .container_4{
      grid-area: container_4;
    }
    .container_5{
      grid-area: container_5;
    }
  }